# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/amrutam?schema=public"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Security Configurations
JWT_ACCESS_SECRET="your-super-secret-access-key-should-be-very-long-and-secure"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-should-be-very-long-and-secure"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"

# Bcrypt salt rounds
BCRYPT_SALT_ROUNDS=12
